body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
    color: black;
}


#photogallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.photo {
    max-width: 50%;
    height: auto;
    text-align: center;
    background-blend-mode: color-burn;
}


.photo-img {
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease;
}

.photo-img:hover {
    transform: scale(1.05);
}

.photo-title {
    font-size: 20px;
    color: #007bff
    margin: 10px 0 5px;
}

.photo-info {
    font-size: 14px;
    color: #777;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-blend-mode: lighten;
}

.modal-content {
    margin: 15% auto;
    display: block;
    width: 70%;
    max-width: 700px;
}

#caption {
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .photo {
        width: 100%;
    }
}